
<br>
{{#each artworks}}
    <br>
    <br>
    <br>
    <br>
    <br>
    <img
      src="{{artwork.imageURL}}"
      alt="Piece of Art"
      id="art-piece"
    />
    <h4>{{title}}</h4>
    <br>
    Story: {{story}}
    <br>
    <br>
    Art Type: {{mood}}
    <br>
    <br>
    <br>
    <h6>Artist:</h6>
    <br>
    <label>Name:</label>
        {{artist.name}}
        <br>
    <label>City:</label>
        {{artist.city}}
        <br>
    <label>Description:</label>
        {{artist.description}}
        <br>
        <br>
    <a href="/artwork/{{id}}">More Details</a>
{{/each}}


