<div class = "artwork-page">
    <br>
{{#each artworks}}
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="artwork">
        <div id="art-piece">
      <img
      src="{{imageURL}}"
      alt="Piece of Art"
      id="art-piece"
    /></div>
  
    <h4>{{title}}</h4>
    <br>
    Story: {{story}}
    <br>
    <br>
    Art Type: {{mood}}
    <br>
    <br>
    <br>
    <h6>Details of the artist that created this work:</h6>
    <br>
    <label>Name:</label>
        {{artist.name}}
        <br>
    <label>City:</label>
        {{artist.city}}
        <br>
    <label>Description:</label>
        {{artist.description}}
        <br>
        <br>
    <a href="/artwork/{{id}}">More Details</a>

</div>
   {{/each}} 

</div>
