
<h3>Artist Details</h3>
<br>
<br>
<br>
    {{artist.pic}}
    <h2>{{artist.name}}</h2>
    <br>
    {{artist.city}}
    <br>
    <br>
    {{artist.artType}}
    <br>
    <br> 
    {{artist.description}}  
    <br>
    <br> 
    {{artist.works}}
    <br>
    <br> 
    <h5>Artist:</h5>
    <br>
    {{!-- {{#each artwork}}
        {{artwork.artist.imageURL}}
        {{title}}
    <label>Description:</label>
        {{description}}
        <br>
        <br>
    {{/each}} --}}


    {{!-- Here we should display all the artwork only from this artist!
    Should we use an if statement. And the same goes, if you delete an artist, it automatically should 
    delete all of his artwork... and get a warning for that! --}}
    <br>


<form action="/artists/{{artist._id}}/edit" method="GET">
     <button type="submit">Edit Artist</button>
</form>
<br>
<form action="/artists/{{artist._id}}/delete" method="POST">
     <button type="submit">Delete Artist</button>
</form>