
<h3>Artist Details</h3>
<br>
<br>
<br>
    <img
      src="{{artist.pic}}"
      alt="Profile Picture"
      id="avatar"
    />
    <h5>Name: {{artist.name}}</h5>
    <br>
    City: {{artist.city}}
    <br>
    <br>
    Art type: {{artist.artType}}
    <br>
    <br> 
    Description: {{artist.description}}  
    <br>
    <br>
    <br> 
    <h5>Artwork from this Artist:</h5>
    <br>
    {{artist.works.title}}
          {{#each artist.works}}
            <p>{{title}}</p>
          {{/each}}
    <br>

{{#if isAdmin}}

<form action="/artists/{{artist._id}}/edit" method="GET">
     <button type="submit">Edit Artist</button>
</form>
<br>
<form action="/artists/{{artist._id}}/delete" method="POST">
     <button type="submit">Delete Artist</button>
</form>

{{/if}}